.laatikko {
    border: 1px solid blue;
    width: 40%;
    padding: 10px;
    margin: auto;
}

.tuote {
    border: 1px solid red;
}

.warning {
    color: red;
}

.active {
    background-color: #0099FF;
}

.message-normal {
    background-color: gray;
}

.message-abnormal {
    background-color: pink;
}